
/* bagian trending,berita,ads */

.pengatur-sidebar {
    display : flex ;
    flex-direction: row ;
    width : 1130px ;
    margin : 0 auto ;
}

.container-utama {
    display : flex ;
    justify-content: space-between;
    width : 1100px  ;
    margin: auto ;
    flex-direction: column ;
}

.container-berita {
    width: 675px ;
    /* margin-left : 50px ; */
    margin-top: 40px ;
    display: block ;
}

.berita-a {
    width : 550px ;
    position: relative;
}

.berita-a img {
    width : 550px ;
    height : 400px ;
    position: absolute ;
    border-radius: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.berita-a a {
    position: absolute ;
    z-index : 99999 ;
    margin-top: 290px ;
    margin-left: 10px ;
    margin-right: 10px ;
    color : #FFFFFF;
    font-size: 25px ;
    font-family: 'Poppins';
    font-weight : normal;
    text-decoration: none ;
}

.ads a {
    z-index: 999999999 ;
    position: absolute ;
    margin-top: 450px ;
    /* margin-left: 70px ; */
    
}

.ads a img {
    width : 550px ;
    height: 60px ;
    margin-bottom: 50px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 10px ;
}

.berita-b {
    width : 550px ;
    position: absolute;
    margin-top: 560px ;
    padding-bottom: 500px ;
}

.berita-b img {
    width : 550px ;
    height : 400px ;
    position: absolute ;
    border-radius: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0,25%);
}

.berita-b a {
    position: absolute ;
    z-index : 99999 ;
    margin-top: 290px ;
    margin-left: 10px ;
    margin-right: 10px ;
    color : #FFFFFF;
    font-size: 25px ;
    font-family: 'Poppins';
    font-weight : normal;
    text-decoration: none ;
}

.container-beritaB {
    margin: 0 0 ;
    width : 500px ;
    margin-top : 1000px ;
}


.container-beritaB h3 {
    width : 161px ;
    height: 25px ;
    border-radius: 10px ;
    text-align: center ;
    font-family: 'Poppins';
    color: #FFFFFF;
    background-color: #2681E6 ;
    margin: 20px 0;
    padding: 4px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

/* berita terkini */
.artikel2 {
    max-width : 500px ;
    height: 150px ;
    display : grid ;
    column-gap: 2px ;
    margin : 1px auto ;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "thumbnail judul" ;
    text-align: left ;
    box-sizing: border-box ;
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s ;
}

.artikel2 img {
    grid-area: thumbnail ;
    margin-top: 10px ;
    margin-left: 10px ;
    border-radius: 5px ;
    width : 100px ;
    height : 100px ;
}

.artikel2 a {
    font-size : 15px ;
    grid-area: judul ;
    margin-top: 10px ;
    text-decoration: none ;
    color : #000000 ;
    font-weight: bold ;
    margin-left: 10px ;
}

.artikel2:hover {
    transform: scale(110%);
}


.sidebar {
    display: flex ;
    flex-direction: column ;
    margin-top: 40px ;
    margin-left: -50px ;
}

/* berita trending */
.site {
    width : 520px ;
    height: 150px ;
    display : grid ;
    column-gap: 10px ;
    margin : -10px auto ;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "thumbnail judul" ;
    text-align: left ;
    box-sizing: border-box ;
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s ;
}

.site:hover {
    transform: scale(110%);
}

.site img {
    grid-area: thumbnail ;
    margin-top: 10px ;
    margin-left: 10px ;
    border-radius: 5px ;
    width : 100px ;
    height : 100px ;
}

.site a {
    font-size : 15px ;
    grid-area: judul ;
    margin-top: 10px ;
    text-decoration: none ;
    color : #000000 ;
    font-weight: bold ;
    margin-left: 10px ;
}

.sidebar h3 {
    font-family: 'Poppins';
    font-size: 18px ;
    color: #FFFFFF;
    background-color: #2681E6 ;
    border-radius: 10px ;
    width: 150px ;
    padding : 3px 5px ;
    margin-bottom: 20px ;
    text-align: center ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);

}

.telstream {
    margin-top: 10px ;
}

.telstream iframe {
    width : 400px ;
    height: 210px ;
    margin-top: 15px ;
}

.sosmed h3 {
    margin-top: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.sosmed img {
    margin-top : 10px ;
    width : 32px ;
    height: 32px ;
    margin-right : 18px ;
}

/* footer */

footer {
    background-color: #2681E6 ;
    color : #FFFFFF ;
    padding : 5px 0;
}

.copyright {
    display: flex ;
    flex-direction: row ;
    margin: 0 auto ;
    width : 200px ;
    font-size: 10px ;
}

.copyright img {
    width : 10px ;
    height: 10px ;
    margin : 0 10px  ;
    padding-top: 5px ;
}



