
/* bagian trending,berita,ads */

html {
    scroll-behavior: smooth;
}

nav {
    margin-top: 0;
}  

.pengatur-sidebar {
    display : flex ;
    flex-direction: row ;
    width : 1130px ;
    margin : 0 auto ;
}

.container-utama {
    display : flex ;
    justify-content: space-between;
    width : 1140px  ;
    margin: auto ;
    flex-direction: column ;
}

.container-berita {
    width: 675px ;
    margin-left : 50px ;
    margin-top: 40px ;
    display: block ;
}

.berita-a {
    width : 550px ;
    position: relative;
    z-index: 1000 ;
    display: block ;
	position : relative ;
	
}


.berita-a a img {
    width : 550px ;
    height : 400px ;
    position: absolute ;
    border-radius: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);    
	top : 0 ;
	margin-top : -288px ;
	z-index : -2000 ;
	margin-left : -20px ;
	opacity : 0.9 ;
	
}

.berita-a a {
    position: absolute ;
    z-index : 50000 ;
    margin-top: 290px ;
    color : #FFFFFF;
    font-size: 25px ;
    font-family: 'Poppins';
    font-weight : normal;
    padding : 17.5px 20px ;
    text-decoration: none ;
	background-image: linear-gradient(rgba(0,0,0,0) , rgba(0,0,0,0.6));
    border-radius: 10px ;
}

.ads a {
    position: absolute ;
    margin-top: 400px ;
}

.ads a img {
    margin-top: 58px ;
    width : 550px ;
    height : 60px ;
    margin-bottom: 50px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 10px ;
}

.berita-b {
    width : 550px ;
    position: relative ;
    margin-top: 560px ;
    padding-bottom: 500px ;
	z-index : 2000 ;
}

.berita-b a img {
    width : 550px ;
    height : 400px ;
    position: absolute ;
    border-radius: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0,25%);
	margin-top : -308px ;
	margin-left : -24px ;
	z-index : -9999 ;
	opacity : 0.9 ;
}

.berita-b a {
    position: absolute ;
    z-index : 99999 ;
    margin-top: 290px ;
    /* margin-left: 10px ;
    margin-right: 10px ; */
	padding : 17.5px 25px ; 
    color : #FFFFFF;
    font-size: 25px ;
    font-family: 'Poppins';
    font-weight : normal;
    text-decoration: none ;
    background-image: linear-gradient(rgba(0,0,0,0) , rgba(0,0,0,0.6)) ;
    border-radius: 10px ;
}

.container-beritaB {
    margin: 0 auto ;
    margin-left: 40px ;
    width : 500px ;
    margin-top : -60px ;  
}


.container-beritaB h3 {
    width : 161px ;
    height: 25px ;
    border-radius: 10px ;
    text-align: center ;
    font-family: 'Poppins';
    color: #FFFFFF;
    background-color: #2681E6 ;
    margin: 20px 0;
    padding: 4px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

/* berita terkini */

.artikel2 a {
    max-width : 500px ;
    height: 150px ;
    display : grid ;
    column-gap: 2px ;
    margin : 0 auto ;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "thumbnail judul" ;
    text-align: left ;
    box-sizing: border-box ;
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s ;
	text-decoration: none ;
}

.artikel2 a img {
    grid-area: thumbnail ;
    margin-top: 10px ;
    margin-left: 10px ;
    border-radius: 5px ;
    width : 100px ;
    height : 100px ;
}

.artikel2 a p {
    font-size : 15px ;
    grid-area: judul ;
    margin-top: 10px ;
    color : #000000 ;
    font-weight: bold ;
    margin-left: 10px ;
}

.artikel2:hover {
    transform: scale(110%);
}

.sidebar {
    display: flex ;
    flex-direction: column ;
    margin-top: 40px ;
    margin-left: -50px ;
}

/* berita trending */
.site a {
    max-width : 500px ;
    height: 150px ;
    display : grid ;
    column-gap: 10px ;
    margin : -10px auto ;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "thumbnail judul" ;
    text-align: left ;
    box-sizing: border-box ;
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s ;
	text-decoration: none ;
}

.site:hover {
    transform: scale(110%);
}

.site a img {
    grid-area: thumbnail ;
    margin-top: 10px ;
    margin-left: 10px ;
    border-radius: 5px ;
    width : 100px ;
    height : 100px ;
}

.site a p {
    font-size : 15px ;
    grid-area: judul ;
    margin-top: 10px ;
    color : #000000 ;
    font-weight: bold ;
    margin-left: 10px ;
}

.sidebar h3 {
    font-family: 'Poppins';
    font-size: 18px ;
    color: #FFFFFF;
    background-color: #2681E6 ;
    border-radius: 10px ;
    width: 150px ;
    padding : 3px 5px ;
    margin-bottom: 20px ;
    text-align: center ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);

}

.telstream {
    margin-top: 10px ;
}

.telstream iframe {
    width : 400px ;
    height: 210px ;
    margin-top: 15px ;
}

.sosmed h3 {
    margin-top: 10px ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.sosmed img {
    margin-top : 10px ;
    width : 32px ;
    height: 32px ;
    margin-right : 18px ;
}

.toggle-naik {
    background-color: #2681e6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #f3f3f3;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    padding: 3px 10px ;
  }

/* media breakpoint */
/* atau pengubah ukuran sesuai ukuran layar yang ditentukan */

@media only screen and (max-width : 1100px ){

    .pengatur-sidebar {
        flex-direction: column ;
        width: 560px ;
    }

    .container-utama {
        width : 560px ;
    }

    .container-berita {
        width: 560px ;
        margin: 0 auto ;
    }

    .berita-a {
        width : 550px ;
    }

    .berita-a img {
        width: 550px ;
        height: 400px ;
    }

    .container-beritaB {
        width: 550px ;
        margin-left: 0 ;
    }

    .container-beritaB h3 {
        margin: 0 auto ;
        margin-bottom: 20px ;
    }


    .sidebar {
        width: 550px ;
        margin: auto ;
    }

    .sidebar h3 {
        margin: 40px auto ;
        margin-top: -30px ;
    }

    .telstream h3 {
        margin-top: 15px ;
        margin-bottom: 20px ;
    }

    .telstream {
        width: 550px ;
        margin: auto ;
    }

    .telstream iframe {
        display: flex ;
        flex-direction: column ;
        margin: 20px auto ;
    }

    .sosmed h3 {
        margin-top: 30px ;
        grid-area: judul ;
    }

    .sosmed {
        width: 550px ;
    }

    .sosmed img {
        display: inline-block ;
       position: relative ;
       left: 30% ;
       right: 30% ;
       margin: 20px 10px ;
       margin-top: -29px ;
    }

}

@media only screen and (max-width : 600px ){

    body {
        overflow-x : hidden;
    }

    .pengatur-sidebar {
        width: 330px ;
        margin-top : 170px ;
    }

    .container-utama {
        width : 330px ;
    }

    .container-berita {
        width : 330px ;
        margin : 0 auto ;
    }

    .berita-a {
        width : 330px ;
		margin-top : 130px ;
		margin : auto ;
		z-index : 5001 ;
    }

    .berita-a a img {
        width : 330px ;
        height : 300px ;
		z-index : -9 ;
		margin-top : -170px ;
    }

    .berita-a a {
        margin-top: 50px;
        padding-bottom: 9.5px ;
        font-size: 24px ;
		z-index : 8000 ;
		position : absolute ;
		opacity : 1 ;
    }

    .ads a img {
        width: 330px ;
    }

    .ads {
        margin-top: -250px ;
        margin-bottom: 30px ;
    }

    .berita-b {
        width : 330px ;
        z-index: 5000 ;
		margin : auto ; 
    }


    .berita-b a img {
		margin-top : -172px ;
        width: 330px ;
        height: 300px ;
		z-index : -999 ;
    }

   .berita-b a {
   font-size: 24px ;
   margin-top : 700px ;
   padding-bottom: 18px ;
   }

   .container-beritaB {
       margin-top: 650px ;
       width : 330px ;
   }

   .container-beritaB h3 {
        font-size: 15px ;
   }

    .artikel2 {
        margin-left: -10px ;
        column-gap: 10px ;
    }

    .artikel2 img {
        width : 100px ;
        height : 100px ;
    }

    .container-beritaB h3 {
        margin-top : -250px;
    }

    .sidebar h3 {
        margin : 0 auto ;
        margin-top : 10px ;
        margin-bottom: 50px ;
        font-size: 15px ;
    }

    .sidebar {
        width : 330px ;
        margin: auto ;
    }

    .site {
        margin-left: -15px ;
    }

    .telstream {
        width: 330px ;
        margin : 0 auto ;
    }

    .telstream h3 {
        margin : 0 auto ;
    }

    .telstream iframe {
        width: 320px ;
        height : 270px ;
    }

    .sosmed {
        width: 330px ;
    }

    .sosmed h3 {
        margin-top : 10px ;
        margin-bottom: 20px ;
        margin: auto ;
    }

    .sosmed img {
        margin : 0 7px  ;
        margin-top: 20px ;
        margin-bottom: 20px ;
        width: 25px ;
        left: 25% ;
        right: 30%  ;
    }


    .copyright {
        display: flex ;
        justify-content: center ;

    }

    .site a:hover {
        color: lightblue ;
    }

    .artikel2 a:hover {
        color: lightblue ;
    }
    
    .site ,.artikel2 {
        transform: scale(100%) ;
    }
}
