@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1050px;
  margin: auto;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.hero-section {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 0;
  width: 1050px;
  justify-content: space-between ;
}

.hero-section aside {
  order: 1;
  display: flex;
  flex-direction: column;
}

.hero-section aside h1 span {
  border: 2px solid #2681e6;
  width: 190px;
  margin: 10px 0;
  margin-top: -1px;
  margin-bottom: 40px;
}

.hero-section aside h1 {
  margin-bottom: -30px;
  margin-top: 20px;
  font-size: 50px;
  color: #132943;
  display: flex;
  flex-direction: column;
}

.hero-section img {
  width: 500px;
  height: 504px;
  order: 2;
}

.hero-section aside button {
  width: 150px;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -7px;
  border-radius: 50px;
}

.hero-section aside p span {
  color: #2681e6;
  font-weight: bold;
}

.hero-section aside button img {
  width: 30px;
  height: 20px;
}

.sosial-media-sec-1 {
  display: inline-block;
  margin-top: 40px;
}

.sosial-media-sec-1 a img {
  width: 25px;
  height: 30px;
  margin: 0 20px;
}

.sosial-media-sec-1 a:nth-child(1) {
  margin-left: -25px;
}

.about-section {
  display: grid;
  grid-template-areas: "gambar judul" "gambar about" "button button";
  margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  column-gap: 50px;
}

.about-section h1 {
  grid-area: judul;
  margin-top: 20px;
  color: #132943;
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.about-section h1 span {
  border: 2px solid #2681e6;
  width: 150px;
}

.about-section p:nth-child(2) {
  grid-area: about;
  margin-top: -60px;
  font-size: 20px;
}

.about-section p span {
  color: #2681e6;
  font-weight: bold;
}

.about-section img {
  grid-area: gambar;
  width: 500px;
  height: 500px;
}

.about-section button {
  grid-area: button;
  margin-left: 550px;
  margin-top: -50px;
  height: 40px;
  /* line-height: 15px ; */
  width: 150px;
  background-color: #2681e6;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.about-section button p {
  margin-top: 10px;
  margin-left: 7px;
}

.about-section button img {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0 3px;
  padding-right: 7px;
}

.team-section {
  display: grid;
  grid-template-areas: "judul judul judul judul" "sec-a sec-b sec-c sec-d";
  margin-top: 30px;
  row-gap: 30px;
  column-gap: 20px;
  margin-bottom: 180px;
  text-align: center;
}

.team-section h1 {
  grid-area: judul;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.team-section h1 span {
  border: 2px solid #2681e6;
  width: 150px;
  margin: auto;
}

.card-a,
.card-b,
.card-c,
.card-d {
  width: 250px;
  /* border : 1px black solid ; */
  background-color: #f3f3f3;
  border-radius: 5px;
  transition: 0.5s;
}

.card-a:hover,
.card-b:hover,
.card-c:hover,
.card-d:hover {
  cursor: pointer;
  transform: scale(110%);
}

.card-a p:nth-child(2),
.card-b p:nth-child(2),
.card-c p:nth-child(2),
.card-d p:nth-child(2) {
  color: #616161;
  font-size: 14px;
  margin: 5px auto;
}

.card-a p:nth-child(3),
.card-b p:nth-child(3),
.card-c p:nth-child(3),
.card-d p:nth-child(3) {
  color: #141414;
  font-size: 18px;
  margin: 5px auto;
}

.card-a img,
.card-b img,
.card-c img,
.card-d img {
  width: 200px;
  height: 150px;
  margin: 20px auto;
}

.card-a {
  grid-area: sec-a;
}

.card-b {
  grid-area: sec-b;
}

.card-c {
  grid-area: sec-c;
}

.card-d {
  grid-area: sec-d;
}

.musik-section {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 160px;
  width: 100%;
}

.musik-section aside {
  display: flex;
  flex-direction: column;
  order: 1;
}

.musik-section aside h1 {
  font-size: 40px;
  margin-bottom: 40px;
  grid-area: judul;
  display: flex;
  flex-direction: column;
}

.musik-section aside h1 span {
  border: 2px solid #2681e6;
  width: 80px;
}

.musik-section p:nth-child(2) {
  grid-area: about;
  width: 600px;
  /* margin-top: -180px ; */
  font-size: 20px;
}

.musik-section img {
  order: 2;
  width: 500px;
  height: 500px;
  margin-left: 50px;
}

.musik-section button {
  grid-area: button;
  height: 40px;
  margin-top: 60px;
  margin-left: -10px;
  width: 130px;
  background-color: #2681e6;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.musik-section button p {
  margin-top: 10px;
  margin-left: 7px;
}

.musik-section button img {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0 3px;
  padding-right: 7px;
}

.berita-section {
  margin-top: 80px;
  display: grid;
  grid-template-areas: "gambar aside";
  column-gap: 30px;
  margin-bottom: 150px;
}

.berita-section img {
  width: 400px;
  height: 400px;
  grid-area: gambar;
}

.berita-section aside {
  grid-area: aside;
}

.berita-section aside h1 {
  display: flex;
  flex-direction: column;
  height: 40px;
  font-size: 40px;
}

.berita-section aside h1 span {
  border: 2px solid #2681e6;
  width: 100px;
}

.berita-section aside p:nth-child(2) {
  color: #2681e6;
  margin-top: 30px;
  font-size: 12px;
}

.berita-section aside p:nth-child(3) {
  margin-top: 20px;
  color: #18191f;
  font-size: 20px;
}

.berita-section aside button {
  height: 40px;
  margin-top: 50px;
  width: 140px;
  background-color: #2681e6;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.berita-section aside button p {
  margin-top: 10px;
  margin-left: 10px;
}

.berita-section button img {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0 3px;
  padding-right: 7px;
}

.toggle-naik {
  background-color: #2681e6;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  color: #f3f3f3;
  position: fixed;
  bottom: 40px;
  right: 10px;
  text-align: center;
  line-height: 30px;
  color: white;
  padding: 3px 10px ;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 580px;
    margin: auto;
    margin-top: 10px;
  }

  .hero-section {
    display: grid;
    grid-template-areas: "judul " "about " "button";
    margin: auto;
    width: 580px;
    margin-bottom: 100px;
  }

  .sosial-media-sec-1 {
    display: none;
  }

  .hero-section h1 span {
    width: 150px;
    margin: 10px 0;
    margin-top: -8px;
  }

  .hero-section h1 {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .hero-section p:nth-child(2) {
    margin-top: 0px;
  }

  .hero-section img {
    display: none;
  }

  .hero-section button {
    width: 135px;
    margin-top: 40px;
    line-height: 23px;
  }

  .hero-section button img {
    width: 30px;
    height: 20px;
    display: block;
  }

  .about-section {
    display: grid;
    margin-top: 20px;
    grid-template-areas: "gambar " "judul" "about" "button";
  }

  .about-section img {
    margin: auto;
    margin-bottom: 40px;
  }

  .about-section h1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
  }

  .about-section h1 span {
    margin: auto;
    width: 130px;
  }

  .about-section p {
    margin-top: 300px;
  }

  .about-section button {
    margin-top: 20px;
    margin-left: 0;
  }

  .team-section {
    margin-top: 100px;
    grid-template-areas: "judul judul" "sec-a sec-b" "sec-c sec-d";
  }

  .team-section h1 {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  .musik-section {
    display: flex ;
    flex-direction: column ;
    margin: 30px auto;
  }

  .musik-section img {
    margin-bottom: 30px;
    order: 1 ;
  }

  .musik-section aside  h1 {
    text-align: center;
    margin-top: 10px;
  }

  .musik-section aside {
    order: 2 ;
    margin-bottom: 100px ;
  }

  .musik-section h1 span {
    width: 70px;
    margin: auto;
  }


  .musik-section button {
    margin-top: 30px;
  }

  .berita-section {
    margin-top: 20px;
    grid-template-areas: "gambar" "aside";
    margin: auto;
  }


  .berita-section img {
    margin: auto;
    margin-top: 50px;
  }

  .berita-section aside h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .berita-section aside h1 span {
    margin: auto;
    width: 80px;
    margin-top: -4px;
  }

  .berita-section aside p:nth-child(2) {
    text-align: center;
    margin-top: 30px;
  }

  .berita-section aside p:nth-child(3) {
    margin-top: 10px;
  }

  .berita-section aside button {
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 350px;
    margin: auto;
    margin-top: 80px;
  }

  .hero-section {
    width: 330px;
    margin: auto;
    margin-top: -30px;
    margin-left: 10px;
  }

  .sosial-media-sec-1 {
    display: none;
  }

  .hero-section aside h1 span {
    width: 110px;
    margin: 10px 0;
    margin-top: -4px;
    display: none;
  }

  .hero-section aside h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .hero-section p:nth-child(2) {
    margin-top: 20px;
    font-size: 12px;
  }

  .hero-section img {
    display: none;
  }

  .hero-section aside button {
    width: 150px;
    margin-top: 40px;
  }

  .hero-section button img {
    width: 30px;
    height: 20px;
    display: block;
  }

  .about-section {
    display: grid;
    margin-top: 40px;
    grid-template-areas: "gambar " "judul" "about" "button";
  }

  .about-section img {
    margin: auto;
    margin-bottom: 60px;
    width: 300px;
    height: 300px;
  }

  .about-section h1 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
  }

  .about-section h1 span {
    margin: auto;
    width: 130px;
  }

  .about-section p:nth-child(2) {
    font-size: 15px;
    margin-top: -50px;
    text-align: center;
  }

  .about-section button {
    margin: auto;
    margin-top: 80px;
  }

  .team-section {
    margin-top: 100px;
    grid-template-areas: "judul " "sec-a" "sec-b" "sec-c" "sec-d";
  }

  .team-section h1 {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
  }

  .card-a,
  .card-b,
  .card-c,
  .card-d {
    margin: auto;
  }

  .musik-section {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: auto;
    margin-bottom: 190px;
  }

  .musik-section aside {
    order: 2;
  }

  .musik-section img {
    order: 1;
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .musik-section aside h1 {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 250px;
  }

  .musik-section aside h1 span {
    width: 100px;
    margin: auto;
    margin-top: -8px;
  }

  .musik-section aside p:nth-child(2) {
    font-size: 14px;
    width: 330px;
    margin: auto;
    margin-top: -220px;
    text-align: center;
  }

  .musik-section aside button {
    margin: auto;
    margin-top: 50px;
  }

  .berita-section {
    grid-template-areas: "gambar" "aside";
    margin: auto;
    margin-top: -200px;
  }

  .berita-section img {
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }

  .berita-section aside h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

  .berita-section aside h1 span {
    margin: auto;
    width: 100px;
    margin-top: -8px;
  }

  .berita-section aside p:nth-child(2) {
    text-align: center;
    margin-top: 70px;
  }

  .berita-section aside p:nth-child(3) {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
  }

  .berita-section aside button {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
}
