@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fafafa;
}

.header {
  background-color: #2681e6;
  margin-top: 0;
  height: 100vh;
}

nav {
  margin-top: 0;
  width: 1230px ;
}

nav .nav-link {
  margin-top: 15px ;
  color: #ffffff;
}

nav .nav-link.active {
  border-bottom: 3px solid #fff;
}

.nav-brand img {
  width: 147px ;
  height: 45px ;
}

nav .nav-link {
  font-size: 18px;
}

nav button {
  background-color: #ffffff;
  color: #2681e6;
  border-radius: 50px ;
  margin-top: 15px ;
}

.header-2 {
  display: grid;
  width: 1230px;
  margin: 20px auto;
  margin-top: 40px;
  grid-template-areas: "hero-kiri hero-kanan" "hero-btn hero-btn";
}

.hero-kiri {
  width: 600px  ;
  height: 300px ;
  grid-area: hero-kiri;
  display: flex ;
  flex-direction: column ;
}

.hero-kiri h1 {
  color: #FFFFFF ;
  font-size: 60px ;
}

.hero-kiri p {
  margin: 30px auto ;
  color: #FFFFFF ;
  font-size: 18px ;
  font-weight: 100 ;
}

.hero-kanan img {
  width: 580px;
  height: 380px;
  grid-area: hero-kanan;
  margin-top: 20px ;
}

.hero-btn {
  width: 180px ;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #186ecf;
  grid-area: hero-btn;
  transition: 0.5s ease;
  padding: 12px 20px ;
  margin: 10px ;
  font-size: 15px ;
  height: 48px ;
  margin-top: -15px  ;
  margin-left: -5px ;
}

.hero-btn img {
  margin-top: 2px ;
  margin-right: -10px ;
  width: 14px;
  height: 23px;
}

.hero-btn:hover {
  background-color: #245b9b;
}

/* genre */

.genre {
  display: flex;
  margin:  auto;
  width: 1000px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 32px ;
  margin-bottom: 24px ;
}

.genre-utama {
  display: flex;
  margin: 15px auto;
  flex-direction: column;
  justify-content: center;
  width: 85% ;
}

.genre-more-trigger {
  display: flex;
  margin: 10px auto;
  width: 80% ;
}

.genre-list {
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  width: 80% ;
  flex-wrap: wrap;
}

.genre-list-more {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.genre-content {
  display: block;
  background-color: #ffffff;
  color: #050505;
  margin: 10px auto;
  width: 110px;
  text-align: center;
  padding: 8px;
  border: 1px solid #E4E4E4  ;
  border-radius: 8px ;
  cursor: pointer;
  font-size: 14px ;
}



.genre-content.genre-aktif {
  background-color: #2681e6;
  color: #ffff;
}

.more-genre {
  display: none;
  flex-direction: column;
  margin: 15px auto;
  width: 80%;
}

.genre-btn {
  display: block;
  background-color: #2681e6;
  width: 100% ;
  margin: 10px auto;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0 ;
}

.genre-render {
  width: 1000px;
  border: 1px solid #e4e4e4;
  background: #ffff;
  margin: 20px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}



#genre-render {
  overflow-x : hidden;
  height: 350px ;
} 

.notice {
  margin: 50px auto ;

}

.genre-render-atas {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: space-between ;
  width: 90%;
  margin-bottom: 28px ;
  margin-top: 32px ;
}

.genre-judul {
  margin-top: 0 ;
  font-size: 25px;
  text-transform: capitalize;
  color: #18191F ;
}

.genre-render-atas input[type='text'] {
  display: block ;
  width: 100px ;
  height: 15px ;
  margin-top: 10px ;
  text-transform: capitalize ;
}

/* musik box */

.musik-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #e4e4e4;
  margin: 10px auto;
  cursor: pointer;
}

.musik-box .sec-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.musik-box .sec-1 img {
  width: 56px;
  height: 56px;
  margin: 10px;
}

.musik-box .sec-1 .judul-dan-channel {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.musik-box .sec-1 .judul-dan-channel h4 {
  font-size: 17px;
}

.musik-box .sec-1 .judul-dan-channel p {
  font-size: 15px;
  color: #a1a1a1;
  font-weight: 100 ;
}

/* channel */

.channel {
  display: flex;
  margin: 15px auto;
  width: 1000px;
  flex-direction: column ;
  justify-content: space-between ;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  border-radius: 8px;
}

.channel h4  {
  margin: auto ;
  font-size: 20px  ;
  margin-bottom: 28px ;
  margin-top: 32px ;
  width: 90%  ;
}

.channel-list {
  width: 90%  ;
  display: flex ;
  flex-direction: row  ;
  justify-content: space-between ;
  margin: auto ;
}

.channel-card {
  display: flex ;
  flex-direction: column ;
  font-size: 15px ;
  text-align: center ;
  width: 100px ;
  padding: 10px ;
  margin: 20px auto ;
  margin-top: 0 ;
  align-items: center ;
  /* border: 1px solid black ; */
  text-decoration: none ;
  color: #050505 ;
}

.channel-card img {
  width: 80px ;
  height: 80px ;
}



/* musik player */

.musik-player {
  border-top: 1px solid #e4e4e4 ;
  background-color: #fff;
}

.container-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 80px;
  width: 90%  ;
}

.musik-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px ;
  margin: auto;
  margin-top: 10px ;
}

.musik-info .sec-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  width: 300px;
}

.musik-info .sec-1 marquee {
  font-size: 15px;
  direction: left ;
  width: 300px ;
  color: #050505 ;
  font-weight: bold ;
}

.musik-info .sec-1 p {
  font-size: 11px;
  color: #a1a1a1;
}

.musik-info img {
  width: 46px;
  height: 46px;
  margin: auto;
}


.musik-panel {
  width: 40% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto ;
}

.musik-panel .instrumen-atas {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  height: 28px ;
  margin: auto ;
  margin-bottom: 0;
}

.musik-panel .instrumen-atas button {
  width: 28px ;
  height: 28px ;
  border-radius: 0;
  background-color: #ffffff;
}

.musik-panel .instrumen-atas img {
  width: 28px ;
  height: 28px ;
}

.musik-panel .instrumen-bawah {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px ;
}

.musik-panel .instrumen-bawah #bar-time {
  width: 80% ;
  height: 7px;
  margin: auto;
  border-radius: 5px;
  position: relative;
  border-radius: 8px;
}

.instrumen-bawah #bar-time .load-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
  border-radius: 8px;
}

.instrumen-bawah #bar-time #musik-track {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease ;
  appearance: none ;
}

.instrumen-bawah #bar-time .load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #050505;
  border-radius: 8px;
}

.musik-panel .instrumen-bawah #timer , #timer2{
  display: block;
  margin: 10px ;
  font-size: 13px ;
}

.musik-volume {
  width: 40vmin;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.musik-volume img {
  width: 20px;
  height: 20px;
}

#volume {
  appearance: none;
  width: 30vmin;
  background: linear-gradient(90deg, #dbdbdb 60%, #dbdbdb 60%);
  border-radius: 8px;
}

#volume::-webkit-slider-thumb {
  appearance: none;
  background: #bbb8b8;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}

#volume::-moz-range-thumb {
  appearance: none;
  background: #bbb8b8;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.container-footer {
  margin-top: 0;
}

@media only screen and (min-width : 1500px ){
  .container-player {
    height: 80px;
    width: 75% ;
  }

  .musik-panel .instrumen-atas {
    width: 60%;
    justify-content: space-around;
  }

  .musik-panel {
    width: 50%;
  }
  
}


@media only screen and (max-width: 1300px) {
  body {
    overflow-x: hidden;
  }

  nav {
    width: 990px  ;
  }

  nav .nav-link {
    font-size: 15px;
  }

  .header-2 {
    width: 600px ;
    grid-template-areas: "hero-kiri" "hero-btn";
  }

  .hero-kanan {
    display: none;
  }

  .hero-btn {
    margin-top: 70px ;
  }

  /* genre list */

  .genre {
    width: 650px;
    margin: 40px auto;
  }

  .genre-content {
    width: 90px;
    font-size: 14px;
  }

  .genre-render {
    width: 650px;
    border: 1px solid #e4e4e4;
    background: #ffff;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

    /* channel card */

  .channel {
    width: 650px ;
  }

  .channel-card {
    display: flex ;
    flex-direction: column ;
    font-size: 13px ;
    text-align: center ;
    width: 80px ;
    padding: 5px ;
    margin: 0px auto ;
    margin-top: 0 ;
  }

  .channel-card img {
    height: 70px ;
    width: 70px ;
  }

  .channel h4  {
    font-size: 20px  ;
    margin : auto  ;
    margin-bottom: 10px ;
    margin-top: 5px ;
  }

  /* musik player */

  .musik-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px ;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 10px ;
  }
  
  .musik-info .sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    width: 250px;
  }
  
  .musik-info .sec-1 marquee {
    font-size: 15px;
    direction: left ;
    width: 250px ;
    color: #050505 ;
    font-weight: bold ;
  }
  
  .musik-info .sec-1 p {
    font-size: 11px;
    color: #a1a1a1;
  }
  
  .musik-info img {
    width: 46px;
    height: 46px;
    margin: auto;
  }
  

.musik-panel {
  width: 40% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto ;
  /* border: 1px solid black; */
}

.musik-panel .instrumen-atas {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  height: 28px ;
  margin: auto ;
  margin-bottom: 0;
}

.musik-panel .instrumen-atas button {
  width: 28px ;
  height: 28px ;
  border-radius: 0;
  background-color: #ffffff;
}

.musik-panel .instrumen-atas img {
  width: 28px ;
  height: 28px ;
}

.musik-panel .instrumen-bawah {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px ;
}

.musik-volume {
  width: 30vmin;
  /* border: 1px solid black; */
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.musik-panel .instrumen-bawah #bar-time {
  width: 70% ;
}


}

@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  nav {
    width: 550px ;
  }

  nav button {
    border-radius: 15px ;
    width: 180px ;
  }

  nav .nav-link {
    font-size: 15px;
  }

  .header-2 {
    width: 550px ;
    grid-template-areas: "hero-kiri" "hero-btn";
  }

  .hero-kiri {
    width: 550px ;
  }

  .hero-kiri h1 {
    font-size: 45px ;
  }

  .hero-kiri p {
    margin-top: 0px  ;
    font-size: 15px ;
  }

  .hero-btn {
    margin-top: -25px ;
  }

  .hero-kanan {
    display: none;
  }


  /* genre list */

  .genre {
    width: 550px;
    margin: 40px auto;
  }

  .genre-content {
    width: 90px;
    font-size: 14px;
  }

  .genre-render {
    width: 550px;
    border: 1px solid #e4e4e4;
    background: #ffff;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

    /* channel card */

  .channel {
    width: 550px ;
  }

  .channel-card {
    display: flex ;
    flex-direction: column ;
    font-size: 13px ;
    width: 60px ;
    padding: 5px ;
    margin: 0px auto ;
    margin-top: 0 ;
    align-items: center ;
  }

  .channel-card img {
    height: 60px ;
    width: 65px ;
  }

  .channel h4  {
    font-size: 20px  ;
    margin : auto  ;
    margin-bottom: 10px ;
    margin-top: 5px ;
  }

  /* musik player */

  .musik-player {
    height: 150px ;
  }

  .container-player {
    display: flex ;
    flex-direction: column ;
  }

  .musik-info {
    display: flex;
    justify-content: space-between;
    width: 200px ;
    margin: auto;
    margin-top: 10px ;
    flex-direction: column ;
  }

  .musik-info img {
    display: none ;
  }
  
  .musik-info .sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px ;
    width: 200px;
  }
  
  .musik-info .sec-1 marquee {
    font-size: 15px;
    direction: left ;
    width: 200px ;
    color: #050505 ;
    font-weight: bold ;
  }
  
  .musik-info .sec-1 p {
    font-size: 11px;
    color: #a1a1a1;
    text-align: center ;
  }
  
  .musik-info img {
    width: 46px;
    height: 46px;
    margin: auto;
  }
  

.musik-panel {
  width: 60% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto ;
  /* border: 1px solid black; */
}

.musik-panel .instrumen-atas {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  height: 28px ;
  margin: auto ;
  margin-bottom: 0;
}

.musik-panel .instrumen-atas button {
  width: 28px ;
  height: 28px ;
  border-radius: 0;
  background-color: #ffffff;
}

.musik-panel .instrumen-atas img {
  width: 28px ;
  height: 28px ;
}

.musik-panel .instrumen-bawah {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px ;
}

.musik-volume {
  width: 200px ;
  /* border: 1px solid black; */
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:  0 ;
}

.musik-panel .instrumen-bawah #bar-time {
  width: 70% ;
}

#volume {
  appearance: none;
  width: 150px ;
  background: linear-gradient(90deg, #dbdbdb 60%, #dbdbdb 60%);
  border-radius: 8px;
}

#volume::-moz-range-thumb {
  appearance: none;
  background: #bbb8b8;
  border-radius: 50%;
  cursor: pointer;
}

}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  nav {
    width: 330px ;
    position: static ;
    background: #2681e6 ;
  }

  nav .toggle-button span {
    background-color: #fff ;
  }

  nav .nav-items {
    background: #2681e6 ;
  }

  nav .toggle-button input:checked ~ span:nth-child(2){
    background: #fff ;
  }

  nav .toggle-button input:checked ~ span:nth-child(4){
    background: #fff ;
  }

  nav button {
    border-radius: 15px ;
    width: 180px ;
  }

  nav .nav-link {
    font-size: 15px;
  }

  .header-2 {
    width: 330px ;
    grid-template-areas: "hero-kiri" "hero-btn";
  }

  .hero-kiri {
    width: 330px ;
  }

  .hero-kiri h1 {
    font-size: 45px ;
  }

  .hero-kiri p {
    margin-top: 0px  ;
    font-size: 15px ;
  }

  .hero-btn {
    margin-top : 35px ;
  }

  .hero-kanan {
    display: none;
  }

  /* genre list */

  .genre-render-atas {
    margin-top: 10px ;
    margin-bottom: 15px ;
  }

  .genre-judul {
    margin-top: 0 ;
  }

  .genre-render-atas input[type="text"]{
    margin-top: 10px ;
  }

  .genre {
    width: 330px ;
    margin: 40px auto;
  }

  .genre-render {
    width: 330px ;
  }

  /* musik box */
  .musik-box .sec-1 .judul-dan-channel h4 {
    font-size: 13px;
  }
  
  .musik-box .sec-1 .judul-dan-channel p {
    font-size: 12px;
    color: #a1a1a1;
    font-weight: 100 ;
  }

    /* channel card */

  .channel {
    width: 330px ;
  }

  .channel-list {
    flex-direction: row ;
    overflow-y : hidden ;
  }

  .channel-card {
    display: flex ;
    flex-direction: column ;
    font-size: 13px ;
    width: 60px ;
    padding: 5px ;
  }

  .channel-card img {
    height: 60px ;
    width: 65px ;
  }

  .channel h4  {
    font-size: 20px    ;
    margin : auto  ;
    margin-bottom: 10px ;
    margin-top: 5px ;
  }



  /* musik player */

  .musik-player {
    height: 130px ;
  }

  .container-player {
    display: flex ;
    flex-direction: column ;
  }

  .musik-info {
    display: flex;
    justify-content: space-between;
    width: 200px ;
    margin: auto;
    margin-top: 10px ;
    flex-direction: column ;
  }

  .musik-info img {
    display: none ;
  }
  
  .musik-info .sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px ;
    width: 200px;
  }
  
  .musik-info .sec-1 marquee {
    font-size: 15px;
    direction: left ;
    width: 200px ;
    color: #050505 ;
    font-weight: bold ;
  }
  
  .musik-info .sec-1 p {
    font-size: 11px;
    color: #a1a1a1;
    text-align: center ;
  }
  
.musik-info button {
  width: 20px;
  height: 20px;
}

  .musik-info img {
    width: 20px;
    height: 20px;
    margin: auto;
  }


.musik-panel {
  width: 330px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto ;
  /* border: 1px solid black; */
}

.musik-panel .instrumen-atas {
  display: flex;
  flex-direction: row;
  width: 250px ;
  justify-content: space-between;
  /* height: 28px ; */
  margin: auto ;
  margin-bottom: 10px;
}

.musik-panel .instrumen-atas button {
  width: 30px ;
  height: 30px ;
  border-radius: 0;
  background-color: #ffffff;
}

.musik-panel .instrumen-bawah #bar-time {
  width: 60% ;
  height: 5px ;
}

#timer2 , #timer{
  font-size: 13px ;
}

.musik-panel .instrumen-bawah {
  width: 330px ;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px ;
  margin-top: -5px ;
}

.musik-volume {
  display: none ;
}

.musik-volume img {
  display: none ;
}

#volume {
  display: none ;
}

#volume::-moz-range-thumb {
  display: none ;
  appearance: none;
  background: #bbb8b8;
  border-radius: 50%;
  cursor: none ;
}

.instrumen-bawah #bar-time #musik-track:hover {
  display: none ;
}


.slider::-webkit-slider-thumb {
  appearance: none ;
  background : white ;
  width: 30px ;
  height: 10px ;
  border-radius: 30% ;
  cursor: none ;
}

}

/* animasi */

.animasi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid #e4e4e4;
  margin: 10px auto;
}

.animasi .kotak {
  width: 56px;
  height: 56px;
  margin: 10px;
  background-color: #F0F0F0 ;
} 

.animasi .title {
  width: 100%;
  margin: 10px ;
  height: 50px ;
  background-color: #F0F0F0 ;
}


/* @keyframes animasiLoad {
  0% {
    padding-left : 10% ;
  }
  25% {
    padding-left : 25% ;
  }
  50% {
    padding-left : 50% ;
  }
  75% {
    padding-left : 75% ;
  }
  100% {
    padding-left : 80% ;
  }

} */
