<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>telsradio</title>
        <link rel="stylesheet" href="static/assets/css/styles.css">
        <link rel="stylesheet" href="static/assets/css/berita.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    Telsradio
                </div>
                <div class="nav-items">
                    <ul class="nav-links">
                        <li>
                            <a href="#" class="nav-link">Telsradio</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Tentang</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Musik</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link active">Berita</a>
                        </li>
                    </ul>
                    <button class="button"> Dengerin Yuk !</button>    
                </div>
            </nav>
        </div>
        <div class="pengatur-sidebar">
            <div class="container-utama">
                <div class="container-berita">
                    <!-- berita a -->
                    {% for row in berita_1 %}
                    <div class="berita-a">
                        <img src="{{row.1}}" alt="berita">
                        <a href="{{row.2}}">
                            {{row.3}}
                        </a>
                    </div>
                    {% endfor %}
                    
                    <!-- iklan -->
                    <div class="ads">
                        <a href="#"><img src="https://dummyimage.com/400x60/18ada8/080808.png" alt="ads"></a>
                    </div>
                    
                    <!-- berita b -->
                    {% for row in berita_2 %}
                    <div class="berita-b">
                        <img src="{{row.1}}" alt="#">
                        <a href="{{row.2}}">
                            {{row.3}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
                
                <!--Berita Terkini-->
                <div class="container-beritaB">
                    <h3>BERITA TERKINI</h3>
                    {% for row in berita_4 %}
                    <div class="artikel2">
                        <img src="{{row.1}}" alt="thumbnail">
                        <a href="{{row.2}}">
                            <!-- max 12 kalimat -->
                            {{row.3}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!--Trending Now-->
            <div class="sidebar"> 
                <h3>TRENDING NOW</h3>
                <!-- trending 1 -->
                {% for row in berita_3 %}
                <div class="site">
                    <img src="{{row.1}}" alt="thumbnail">
                    <a href="{{row.2}}">
                        {{row.3}}
                    </a>
                </div>
                {% endfor %}

                
                <!-- iframe -->
                <div class="telstream">
                    <h3>TELS STREAM</h3>
                    <!-- frame 1 -->
                    <iframe width="853" height="480" src="https://www.youtube.com/embed/vEDgALv2SPk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <!-- frame 2 -->
                    <iframe width="853" height="480" src="https://www.youtube.com/embed/k-nw7IaWFO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <!-- frame 3 -->
                    <iframe width="853" height="480" src="https://www.youtube.com/embed/nl7GfuvFNWQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                
                <!-- Sicial Media -->
                <div class="sosmed">
                    <h3>SOCIAL MEDIA</h3>
                    <a href="#"><img src="static/assets/img/facebook.svg"></a>
                    <a href="#"><img src="static/assets/img/instagram.svg"></a>
                    <a href="#"><img src="static/assets/img/twitter.svg"></a>
                    <a href="#"><img src="static/assets/img/youtube.svg"></a>
                </div>
            </div>
        </div>
        
        <footer>
            <p>©Winpoin</p>
            <img src="static/assets/img/hati.svg" alt="#">
            <p>TelsRadio</p>
        </footer>
    </body>
</html>