<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/footer.css') }}">
    <!-- cdn fontawsome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Tels Radio | Tomcat Squad</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- cdn aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <section class="header">
    <nav>
        <div class="nav-brand">
            <img src="{{ url_for('static', filename='assets/img/logo telsradio.svg') }}">
        </div>
        <div class="nav-items">
            <ul class="nav-links">
                <li>
                    <a href="#" class="nav-link telsradio active">Telsradio</a>
                </li>
                <li>
                    <a href="#" class="nav-link tentang">Tentang</a>
                </li>
                <li>
                    <a href="#" class="nav-link musik">Musik</a>
                </li>
                <li>
                    <a href="#" class="nav-link berita">Berita</a>
                </li>
            </ul>
            <button class="button"> Dengerin Yuk !</button>
        </div>
        <div class="toggle-button">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
  </section>

    <div class="container">
        <div class="hero-section" id="anchr-satu">
            <img src="{{ url_for('static', filename='/assets/img/radio-home.png') }}">
            <aside>
                <h1>
                    Dengerin info-info</br>
                    terkini seputar</br> Teknologi <span></span>
                </h1>
                <p>
                    Telsradio adalah sebuah komunitas di sekolah</br>
                    <span>SMK TELEKOMUNIKASI TELESANDI BEKASI</span> untuk sebagai</br>
                    wadah mencetak penyiar-penyiar berbakat dari sekolah
                </p>
                <button>
                    <p>Dengerin Yuk !</p>
                    <img src="{{ url_for('static', filename='/assets/img/icon-button-home.png') }}" alt="">
                </button>
                <div class="sosial-media-sec-1">
                    <a href=""><img src="{{ url_for('static', filename='/assets/img/ig-sosmed-home.svg') }}"></a>
                    <a href=""><img src="{{ url_for('static', filename='/assets/img/fb-sosmed-home.svg') }}"></a>
                    <a href=""><img src="{{ url_for('static', filename='/assets/img/twitter-sosmed-home.svg') }}"></a>
                </div>
            </aside>
        </div>
        <div class="about-section" id="anchr-dua">
            <aside>
                <h1>Tentang <br>Tels Radio<span></span></h1>
                <p>
                    Telsradio adalah sebuah radio berbasis web yang dibuat oleh Tomcat Squad angkatan 4 dan masih beroperasi
                    hingga sekarang. Dengan dibuat nya Telsradio ini menjadikan sebuah karya dari murid <span>sekolah SMK
                        Telekomunikasi Telesandi Bekasi</span>, untuk penjadwalan siaran selalu update di Intstagram
                    <span>@telsradio.</span> Stay Tuned terus dengan Telsradio yaa
                </p>
                <button>
                    <p>Selengkapnya</p>
                    <img src="{{ url_for('static', filename='/assets/img/icon-button-home.png') }}" alt="">
                </button>
            </aside>
            <img src="{{ url_for('static', filename='/assets/img/about-home.png') }}">
            
        </div>
        <div class="team-section" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <h1>Team Penyiar <span></span></h1>
            <div class="card-a">
                <img src="https://media.hitekno.com/thumbs/2020/12/28/41219-ahmad-alter-ego-instagrammaungzy/730x480-img-41219-ahmad-alter-ego-instagrammaungzy.jpg" alt="">
                <p>Ahmad Abdurrahman</p>
            </div>
            <div class="card-b">
                <img src="https://assets.skor.id/crop/0x0:0x0/x/photo/2021/02/18/1700957733.jpg" alt="">
                <p>Ihsan Besari</p>
            </div>
            <div class="card-c">
                <img src="https://www.dailysia.com/wp-content/uploads/2021/02/BTR-Babyla_5.jpg" alt="">
                <p>Nabila Rahmarizarti</p>
            </div>
            <div class="card-d">
                <img src="https://dailyspin.id/wp-content/uploads/2020/09/Notnot.jpg" alt="">
                <p>Neng Lidiawaty</p>
            </div>
        </div>
        <div class="musik-section" id="anchr-tiga">
            <img src="{{ url_for('static', filename='assets/img/Phone Mockup.svg') }}" loading="lazy" alt="">
            <aside>
                <h1>MUSIK <span></span></h1>
                <p>
                    Dengarkan lagu di <span>Tels Radio</span> Tanpa Harus Terganggu Dengan iklan. Nikmati musik tanpa henti. Putar lagu apa saja. Kapan saja. Tentu nya Gratis.
                </p>
                <button>
                    <p>Selengkapnya</p>
                    <img src="{{ url_for('static', filename='assets/img/icon-button-home.png') }}" alt="">
                </button>
            </aside>
        </div>
        <div class="berita-section" id="anchr-empat">
            <img src="{{ url_for('static', filename='assets/img/sec-5.svg') }}" loading="lazy">
            <aside>
                <h1>BERITA <span></span></h1>
                <p>
                    MEMBERIKAN INFORMASI SEPUTAR TEKNOLOGI TERKINI
                </p>
                <p>
                  Dapatkan Info update tebaru seputar Teknologi Dari Portal Berita. <span>Tels Radio</span> Tentu nya berita yang kami sajikan sangat menarik untuk dibaca. 
                </p>
                <button>
                    <p>Selengkapnya</p>
                    <img src="{{ url_for('static', filename='assets/img/icon-button-home.png') }}" alt="">
                </button>
            </aside>
        </div>

    </div>

    <footer>
        <div class="container-footer">
            <h1>Tels radio</h1>
            <div class="submenu-footer">
                <a href="#">Telsradio</a>
                <p>|</p>
                <a href="#">Tentang</a>
                <p>|</p>
                <a href="#">Musik</a>
                <p>|</p>
                <a href="#">Berita</a>
                <p>|</p>
                <a href="#">Dengerin Yuk !</a>
            </div>
            <div class="garis-footer"></div>
            <div class="sec-bawah-footer">
                <!-- copyright khusus di dekstop -->
                <p>© 2021 TomcatSquad. All rights reserved</p>
                <div class="sosmed-footer">
                    <a href="#"><img src="{{ url_for('static', filename='assets/img/browser footer.svg') }}" alt=""></a>
                    <a href="#"><img src="{{ url_for('static', filename='assets/img/Twitter footer.svg') }}" alt=""></a>
                    <a href="#"><img src="{{ url_for('static', filename='assets/img/Youtube footer.svg') }}" alt=""></a>
                    <a href="#"><img src="{{ url_for('static', filename='assets/img/ig footer.svg') }}" alt=""></a>
                </div>
            </div>
            <!-- copyright khusus dimobile -->
            <p id="khusus-mobile">© 2021 TomcatSquad. All rights reserved</p>
        </div>
    </footer>
    <div class="toggle-naik">
        <i class="fas fa-arrow-circle-up"></i>
    </div>
    <script src="{{ url_for('static', filename='assets/js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/navbar.js') }}"></script>
</body>

</html>